{% extends 'layout.html.twig' %}

{% set page_title = 'Création de question' %}


{% block content %}


<main>

    <h1>Création d'une question</h1>


    <div class="well">
        {# form_start(variable, [parametres]) correspond à la balise <form>#}
        {# form_start(form) rajoute l'attribut enctype,necessaire pour l'upload de fichier, dans la balise <form>#}
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.type) }}
        {{ form_row(form.question) }}
        {{ form_row(form.time) }}

        <div id="answersDiv">
        {{ form_row(form.answers) }}
        </div>


        <div class="btn-site">
            <button id="add_answer" class="btn btn-primary btn-lg">Ajouter une réponse</button>
        </div>


        {{ form_rest(form) }}


        <div class="btn-site">
            <button type="submit" class="btn btn-primary btn-lg">Ajouter</button>
        </div>



        {{ form_end(form) }}
    </div>


    {% block javascripts %}


        <script type="text/javascript" src="{{ asset('js/addQuestion.js') }}"></script>

    {% endblock %}

</main>
{% endblock %}

