{% extends 'layout.html.twig' %}

{% set page_title = 'Affichage des questions' %}
{% block content %}

    <main class="container">
        {% if (is_granted("ROLE_TEACHER") == true or is_granted("ROLE_ADMIN") == true ) %}

            <h1>Liste des questions</h1>



            {% for question in questions %}
                <div class="question text-center">
                    <p>Intitulé : {{ question.name }}</p>
                    <p>Question de type :
                        {% if question.type == 'text' %}
                            texte
                        {% elseif question.type == 'trueOrFalse' %}
                            vrai ou faux
                        {% elseif question.type == 'multipleChoicesRadio' %}
                            choix multiple, une seule réponse correcte
                        {% elseif question.type == 'multipleChoicesCheckBox' %}
                            choix multiple, au moins une bonne réponse
                        {% endif %}
                    </p>
                    <p>Durée : {{ question.time }} seconde(s)</p>
                    <p>{{ question.question }}</p>
                    <div class="answer">
                    {% for answer in question.answers %}

                            <p>{{ answer.value }} :
                            {% if answer.correct == 1 %}
                                bonne réponse
                            {% elseif answer.correct == 0 %}
                                mauvaise réponse
                            {% endif %}
                            </p>

                    {% endfor %}
                    </div>

                    {% if is_granted("ROLE_ADMIN") %}
                        <a class="btn btn-primary" href="{{ path("deletequestion", {"id": question.id}) }}" onclick="return confirm('Confirmer la suppression?')">Supprimer</a>
                    {% endif %}
                    <hr>
                </div>

            {% endfor %}

        {% endif %}

    </main>

{% endblock %}

