{% extends 'layout.html.twig' %}

{% set page_title = 'Édition du Quiz' %}


{% block content %}

    <main>

        <h1>Nom du Quiz : {{ quiz.name }}</h1>

        <p><a href="{{ path('listquiz') }}">Revenir à la liste des Quiz</a></p>

        <section>

            <div id="leftDiv" class="col-md-6">
                <h2>Questions présentes dans le quiz</h2>
                {% for question in quiz.questions %}
                    <div class="questionBox" id={{ question.id }}>
                        <p>{{ question.question }}</p>
                        <button class="btn btn-primary btn-lg">Changer de zone</button>
                        <hr>
                    </div>
                {% endfor %}

            </div>


            <div id="rightDiv" class="col-md-6">
                <h2>Questions disponibles</h2>
                {% for question in questions %}
                    <div class="questionBox" id={{ question.id }}>
                        <p>{{ question.question }}</p>
                        <button class="btn btn-primary btn-lg">Changer de zone</button>
                        <hr>
                    </div>
                {% endfor %}

            </div>
        </section>


    </main>


    <script>
        $(document).ready(function () {
            const questionsInQuiz = $('#leftDiv');
            const questionsNotInQuiz = $('#rightDiv');

            $('#leftDiv button').each(function () {
                $(this).html('Retirer du quiz');
            });
            $('#rightDiv button').each(function () {
                $(this).html('Ajouter au quiz');
            });

            $('main button').click(function (event) {
                event.stopPropagation();
                let elementToMove = $(event.target).parent();
                let elementParent = $(elementToMove).parent();


                if ($(elementParent).attr('id') == 'leftDiv') {
                    console.log($(elementParent).attr('id'));
                    $(elementToMove).appendTo(questionsNotInQuiz);
                    $(event.target).html('Ajouter au quiz')
                    $.post( {{ quiz.id }}, {
                        "idRemoveQuestion": $(elementToMove).attr('id')
                    })
                }
                else {
                    console.log($(elementParent).attr('id'));
                    $(elementToMove).appendTo(questionsInQuiz);
                    $(event.target).html('Retirer du quiz')
                    $.post( {{ quiz.id }}, {
                        "idAddQuestion": $(elementToMove).attr('id')
                    })
                }


                console.log(elementToMove);
            })
        })
    </script>

{% endblock %}