{% extends 'layout.html.twig' %}

{% set page_title = 'Accueil' %}
{% block content %}

<main class="container">

    <div>
        <h1>Bienvenue sur Noodle !</h1>
        <p class="presentation">
            Vous êtes sur un site de quiz interactif en ligne. Venez créer des quiz pour vos
            élèves ou encore venez répondre à des quiz préparés par vos professeurs.
        </p>
    </div>

        {% if is_granted("ROLE_TEACHER") or is_granted("ROLE_ADMIN") %}
        <div class="btn-site">
            <a href="{{ path('addquestion') }}" type="button" class="btn btn-primary btn-lg">Créer une question</a>
            <a href="{{ path('displayquestions') }}" type="button" class="btn btn-primary btn-lg">Afficher les questions</a>
        </div>
        <div class="btn-site">
            <a href="{{ path('createquiz') }}" type="button" class="btn btn-primary btn-lg">Créer un quiz</a>
            <a href="{{ path('listquiz') }}" type="button" class="btn btn-primary btn-lg">Liste des Quiz</a>
        </div>

        {% elseif is_granted("ROLE_STUDENT") %}

            <p>Accéder au Quiz</p>
            <form action="{{ path('sessionadduser') }}" method="post">
                <label for="sessionKey">Entrez la clé de la session du Quiz</label>
                <input id="sessionKey" name="sessionKey" type="text">
                <input type="submit" value="Valider">
            </form>

            {% if errorSession is defined %}
                <div class="alert alert-danger alert-dismissable">
                    {{ errorSession }}
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
            {% endif %}

        {% endif %}



</main>



{% endblock %}
