{% extends 'layout.html.twig' %}

{% set page_title = 'Accueil' %}
{% block content %}

    <div>
        <h1>Bienvenue sur Noodle !</h1>
        <p class="presentation">
            Vous êtes sur un site de quiz interactif en ligne. Venez créer des quiz pour vos
            élèves ou encore venez répondre à des quiz préparés par vos professeurs.
        </p>
    </div>

    {% if is_granted("ROLE_TEACHER") or is_granted("ROLE_ADMIN") %}
        <h2><a href="{{ path('addquestion') }}">Créer une question</a></h2>
        <h2><a href="{{ path('createquiz') }}">Créer un Quiz</a></h2>
        <h2><a href="{{ path('displayquestions') }}">Afficher les questions</a></h2>
        <h2><a href="{{ path('listquiz') }}">Liste des Quiz</a></h2>
    {% elseif is_granted("ROLE_STUDENT") %}
        <h1>Accéder au Quiz</h1>
        <form action="{{ path('sessionadduser') }}" method="post">
            <label for="sessionKey">Entrez la clé de la session du Quiz</label>
            <input id="sessionKey" name="sessionKey" type="text">
            <input type="submit" value="Valider">
        </form>
    {% endif %}



{% endblock %}
