{% extends 'layout.html.twig' %}

{% set page_title = 'Quiz' %}
{% block content %}
    <main class="container">

        {% if is_granted("ROLE_TEACHER") or is_granted("ROLE_ADMIN") %}

            <p>La clé de session est : <span>{{ sessionKey }}</span></p>

            <p>Nombre d'étudiants ayant répondu : <span id="responded"></span></p>
            <p>Nombre d'étudiants n'ayant pas répondu : <span id="notResponded"></span></p>

            <button id="startQuiz">Démarrer le quiz</button>
            <button id="nextQuestion">Question suivante</button>
            <button id="stopQuestion">Arrêter la question</button>
            <button id="showResults">Voir les résultats</button>
            <button id="showResponse">Envoyer la réponse</button>
            <button id="addTime">Ajouter 10 secondes</button>
            <a id="closeQuiz" href="{{ path('homepage') }}">Clore le quiz</a>
        {% endif %}

        <div id="quiz" data-session="{{ indexSession }}">

        </div>

        <a id="redirectLink" href="{{ path('homepage') }}">Retour</a>


        <div id="response">

        </div>

        <div id="time">

        </div>
    </main>

    {% if is_granted("ROLE_TEACHER") or is_granted("ROLE_ADMIN")%}
        <script src="{{ asset('js/teacher.js') }}"></script>
    {% endif %}
    {% if is_granted("ROLE_STUDENT")%}
        <script src="{{ asset('js/student.js') }}"></script>
    {% endif %}


{% endblock %}