{% extends 'layout.html.twig' %}

{% set page_title = 'Quiz' %}
{% block content %}
    <main class="container">

        {% if is_granted("ROLE_TEACHER") or is_granted("ROLE_ADMIN") %}

            <p>La clé de session est : <span>{{ sessionKey }}</span></p>

            <p id="totalStudents"></p>
            <p id="responded"></p>
            <p id="notResponded"></p>

            <button id="startQuiz" class="btn btn-primary">Démarrer le quiz</button>
            <button id="nextQuestion" class="btn btn-primary">Question suivante</button>
            <button id="stopQuestion" class="btn btn-primary">Arrêter la question</button>
            <button id="showResults" class="btn btn-primary">Voir les résultats</button>
            <button id="showResponse" class="btn btn-primary">Envoyer la réponse</button>
            <button id="addTime" class="btn btn-primary">Ajouter 10 secondes</button>
            <a id="closeQuiz" href="{{ path('homepage') }}" type="button" class="btn btn-primary">Clore le quiz</a>
        {% endif %}

        <div id="quiz" data-session="{{ indexSession }}">

        </div>



        <a href="{{ path('studentresults', {'id': idSession}) }}" type="button" class="btn btn-primary leave redirectLink">Visualiser mes résultats</a>
        <a href="{{ path('homepage') }}" type="button" class="btn btn-primary leave redirectLink">Quitter</a>


        <div id="response">

        </div>

        <div id="time">

        </div>

        <div id="graph" style="width: 900px; height: 500px;">

        </div>

    </main>

    {% if is_granted("ROLE_TEACHER") or is_granted("ROLE_ADMIN")%}
        <script src="{{ asset('js/teacher.js') }}"></script>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



    {% endif %}
    {% if is_granted("ROLE_STUDENT")%}
        <script src="{{ asset('js/student.js') }}"></script>
    {% endif %}


{% endblock %}