{% extends 'layout.html.twig' %}

{% set page_title = 'Resultats' %}


{% block content %}

    <main>
        <a href="{{ path('homepage') }}"  type="button" class="btn btn-primary">Retour à l'accueil</a>
        <p class="text-center">{{ studentCorrectAnswers }} bonne(s) réponse(s) sur {{ nbQuestions }} question(s)</p>

        <div class="text-center">
            {% for result in results %}
                <hr>

                <div>
                    <p>{{ result.question.question }}</p>
                    <p>Votre ou vos réponse(s) :
                        {% for answer in result.studentAnswers %}
                            {{ answer.value }}
                        {% endfor %}
                    </p>


                    <p class="correctAnswers">La ou les bonne(s) réponse(s) :
                        {% for correctanswer in result.correctAnswers %}
                            {{ correctanswer.value }}
                        {% endfor %}
                    </p>
                </div>
            {% endfor %}
        </div>


    <main/>

{% endblock %}