{% extends 'layout.html.twig' %}

{% set page_title = 'Liste des utilisateurs' %}
{% block content %}


    <main>
        <h1>Listes des utilisateurs :</h1>
        <div class="listUser">
        {% for user in users %}
            <p>{{ user.id }} : {{ user.username }} - {{ user.email }} - {{ user.role[0] }} <a href="{{ path('edituser', {'id':user.id}) }}" type="button" class="btn btn-primary">Modifier</a></p>
        {% endfor %}
        </div>
    </main>



{% endblock %}